<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <h1>Home page</h1>
        <% const name='Jack' %>
            <h2>Home user name: <%= name %>
            </h2>

            <form method="post" action="/add-user">
                Form

                <input type="text" name="link">
                <input type="text" name="name">
                <button type="submit">Submit</button>
            </form>
</body>

</html>