<!DOCTYPE html>
<html>
<head>
    <title>Post</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Some post</h1>
    <p>Title: <%= post.title %></p>
    <p>Author: <%= post.author %></p>
    <p>Info: <%= post.text %></p>
</body>

</html>