body {
    background: lightcyan;
}

* {
    box-sizing: border-box;
}

.post {
    text-decoration   : none;
    padding           : 20px;
    display           : flex;
    flex-direction    : column;
    align-items       : center;
    text-align        : center;
    border            : 1px solid blue;
    color             : black;
    position          : relative;
    /* max-width      : 50%; */
}

.post-actions {
    display : flex;
    position: absolute;
    right   : 10px;
    top     : 10px;
}

.post-delete {
    background: #eeaaaa;
    cursor    : pointer;
    border    : 1px solid red;
    margin-left: 10px;
}

.post-edit {
    background: #aaeed4;
    cursor    : pointer;
    border    : 1px solid green;
}

.form {
    margin : 0 auto;
    width  : 50%;
    padding: 20px;
    border : 1px solid blue;
    color  : black;

}

.row {
    display              : grid;
    grid-template-columns: 25% calc(75% - 20px);
    grid-gap             : 20px;
    margin-top           : 10px;
}

textarea {
    max-width: 100%;
}

.author {
    margin: 10px 0;
}

.submit {
    margin    : 0 auto;
    margin-top: 30px;
    width     : 40%;
    padding   : 8px 20px;
    display   : block;
    background: lightpink;
    border    : 1px solid blue;
    cursor    : pointer;
}

p,
h2 {
    margin: 0;
}

.users {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-gap             : 32px;

}